@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
      * {
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
      }
      html,
      body {
        margin: 0px;
        height: 100%;
      }
      /* a blue color as a generic focus style */
      button:focus-visible {
        outline: 2px solid #4a90e2 !important;
        outline: -webkit-focus-ring-color auto 5px !important;
      }
      a {
        text-decoration: none;
      }

.dashboard {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.dashboard .div-2 {
  background-color: #fdfdfd;
  height: 1203px;
  position: relative;
  width: 1440px;
}


.overlap {
  border-radius: 0px 5px 5px 0px;
  height: 1203px;
  left: 0;
  position: absolute;
  top: 0;
  width: 313px;
}
.overlap .free-sample-by-wix {
  height: 101px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 126px;
}
.overlap .sidebar-dark {
  background-color: #0c0c0c;
  border-radius: 0px 5px 5px 0px;
  box-shadow: inset -1px 0px 0px #3d3d3d;
  height: 1203px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 313px;
}
.overlap .overlap-group-2 {
  height: 1103px;
  position: relative;
  top: 24px;
}
.overlap .top-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 219px;
  justify-content: center;
  left: 50px;
  position: absolute;
  top: 0;
  width: 214px;
}
.overlap .group-6 {
  height: 166px;
  position: relative;
  width: 139.5px;
}
.overlap .text-wrapper-8 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 113px;
  white-space: nowrap;
  width: 136px;
}
.overlap .text-wrapper-9 {
  color: #9b9d9f;
  font-family: "Roboto", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  text-align: center;
  top: 144px;
  white-space: nowrap;
  width: 76px;
}
.overlap .image-wrapper {
  background-image: url(https://c.animaapp.com/OO47mZHA/img/unsplash-ohkelokq3re.png);
  background-size: 100% 100%;
  height: 106px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 107px;
}
.overlap .image {
  height: 98px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 99px;
}
.overlap .line {
  height: 1px;
  left: 29px;
  position: absolute;
  top: 218px;
  width: 254px;
}
.overlap .main-links {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 884px;
  left: 0;
  padding: 10px 0px;
  position: absolute;
  top: 219px;
  width: 313px;
}
.overlap .nav-links-dark {
  align-self: stretch;
  background-color: #0c0c0c;
  height: 41px;
  position: relative;
  width: 100%;
}
.overlap .tab-instance {
  height: 24px !important;
  left: 24px !important;
  position: absolute !important;
  top: 9px !important;
  width: 24px !important;
}
.overlap .text-wrapper-10 {
  color: #5d5d5d;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 71px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.overlap .nav-links-dark-2 {
  height: 48px;
  position: relative;
  width: 240px;
}
.overlap .business-instance {
  height: 24px !important;
  left: 24px !important;
  position: absolute !important;
  top: 12px !important;
  width: 24px !important;
}
.overlap .text-wrapper-11 {
  color: var(--gray-100);
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 71px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}
.overlap .overlap-group-3 {
  height: 24px;
  left: 26px;
  position: absolute;
  top: 12px;
  width: 42px;
}
.overlap .help-outline {
  height: 24px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 24px;
}
.overlap .vector {
  height: 20px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 20px;
}


.header-instance {
  background-color: transparent !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  left: 313px !important;
  position: absolute !important;
  top: 0 !important;
  width: 1127px !important;
}
.text-2 {
  flex: 0 0 auto !important;
}
.text-3 {
  color: var(--themes-black-20) !important;
}
.search-1 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}
.icon-instance-node-2 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}


.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 948px;
}
.header .icon-breadcrumb {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}
.header .group-instance {
  flex: 0 0 auto !important;
}
.header .icon-instance-node {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
.header .group-2 {
  text-align: center !important;
}
.header .breadcrumb {
  color: var(--themes-black-40) !important;
  text-align: center !important;
}
.header .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--spacing-20);
  position: relative;
}
.header .logo {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.header .snowui-logo {
  height: 28px;
  position: relative;
  width: 105px;
}
.header .snowui-logo-1 {
  height: 12px !important;
  left: 34px !important;
  position: absolute !important;
  top: 8px !important;
  width: 71px !important;
}
.header .snowui-logo-instance {
  height: 28px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 28px !important;
}
.header .group-3 {
  flex: 0 0 auto !important;
  gap: var(--spacing-16) !important;
}
.header .group-4 {
  color: var(--themes-white-100) !important;
  text-align: center !important;
}
.header .group-5 {
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  justify-content: flex-end !important;
}
.header .design-component-instance-node {
  color: var(--themes-black-20) !important;
}
.header .search-2 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}
.header.a {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--themes-black-10);
  padding: var(--spacing-20) var(--spacing-28) var(--spacing-20) var(--spacing-28);
}
.header.b {
  align-items: flex-start;
  padding: var(--spacing-16) var(--spacing-28) var(--spacing-16) var(--spacing-28);
}

.overlap-group {
  border-radius: 15px;
  height: 599px;
  left: 341px;
  position: absolute;
  top: 557px;
  width: 1064px;
}
.overlap-group .scrollbar-classic-wrapper {
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 599px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1064px;
}
.overlap-group .scrollbar-classic {
  background-color: #fcfcfc;
  border-color: #ffffff;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0px 20px 20px 0px;
  border-right-style: solid;
  border-right-width: 1px;
  height: 599px;
  left: 1052px;
  position: relative;
  width: 12px;
}
.overlap-group .bar {
  background-color: #d3d3d3;
  border-radius: 100px;
  height: 256px;
  left: 3px;
  position: relative;
  top: 12px;
  width: 6px;
}
.overlap-group .rectangle {
  background-color: #e8e8e8;
  border-radius: 2px;
  box-shadow: 0px 4px 4px #00000040;
  height: 198px;
  left: 15px;
  position: absolute;
  top: 65px;
  width: 1019px;
}
.overlap-group .overlap-group-wrapper {
  height: 198px;
  left: 15px;
  position: absolute;
  top: 65px;
  width: 1023px;
}
.overlap-group .overlap-2 {
  background-color: #f6f6f6;
  border-radius: 2px;
  box-shadow: 0px 4px 4px #00000040;
  height: 198px;
  position: relative;
  width: 1019px;
}
.overlap-group .text-wrapper-12 {
  color: #0c0c0c;
  font-family: "Abel", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
}
.overlap-group .text-wrapper-13 {
  color: #0c0c0c;
  font-family: "Abel", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}
.overlap-group .info-minor {
  height: 20px !important;
  left: 22px !important;
  position: absolute !important;
  top: 10px !important;
  width: 20px !important;
}
.overlap-group .group-7 {
  height: 64px;
  left: 381px;
  position: absolute;
  top: 99px;
  width: 579px;
}
.overlap-group .group-8 {
  height: 22px;
  left: 2px;
  position: absolute;
  top: 42px;
  width: 581px;
}
.overlap-group .text-wrapper-14 {
  color: #272727;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.overlap-group .element-novembro-a {
  color: #848484;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 211px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
.overlap-group .group-wrapper {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 219px;
}
.overlap-group .div-wrapper {
  height: 22px;
}
.overlap-group .group-9 {
  height: 22px;
  position: relative;
  width: 223px;
}
.overlap-group .text-wrapper-15 {
  color: #272727;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  white-space: nowrap;
}
.overlap-group .text-wrapper-16 {
  color: #848484;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 129px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
.overlap-group .group-10 {
  height: 198px;
  left: 15px;
  position: absolute;
  top: 294px;
  width: 1023px;
}
.overlap-group .text-wrapper-17 {
  color: #0c0c0c;
  font-family: "Abel", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}
.overlap-group .group-11 {
  height: 76px;
  left: 16px;
  position: absolute;
  top: 523px;
  width: 1023px;
}
.overlap-group .overlap-3 {
  background-color: #f6f6f6;
  border-radius: 2px;
  box-shadow: 0px 4px 4px #00000040;
  height: 76px;
  position: relative;
  width: 1019px;
}
.overlap-group .unsplash {
  height: 83px;
  left: 49px;
  position: absolute;
  top: 164px;
  width: 83px;
}
.overlap-group .name-message {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  left: 166px;
  position: absolute;
  top: 192px;
  width: 93px;
}
.overlap-group .text-wrapper-18 {
  color: #3ba484;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 34px;
  letter-spacing: 0;
  line-height: 39.6px;
  margin-right: -214px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 307px;
}
.overlap-group .unsplash-ctagwpbqg {
  height: 83px;
  left: 48px;
  position: absolute;
  top: 393px;
  width: 83px;
}
.overlap-group .text-wrapper-19 {
  color: #3ba484;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 160px;
  letter-spacing: 0;
  line-height: 39.6px;
  position: absolute;
  top: 416px;
  white-space: nowrap;
  width: 307px;
}
.overlap-group .group-12 {
  height: 64px;
  left: 396px;
  position: absolute;
  top: 393px;
  width: 579px;
}

.header-2 {
  height: 16px !important;
  left: 341px !important;
  position: absolute !important;
  top: 491px !important;
  width: 1064px !important;
}


.overlap-wrapper {
  height: 368px;
  left: 381px;
  position: absolute;
  top: 84px;
  width: 936px;
}
.overlap-wrapper .overlap-4 {
  height: 368px;
  position: relative;
  width: 948px;
}
.overlap-wrapper .group-13 {
  height: 331px;
  left: 0;
  position: absolute;
  top: 0;
  width: 948px;
}
.overlap-wrapper .element {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 268px;
  width: 21px;
}
.overlap-wrapper .element-2 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 310px;
  width: 11px;
}
.overlap-wrapper .element-3 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 226px;
  width: 21px;
}
.overlap-wrapper .element-4 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 184px;
  width: 21px;
}
.overlap-wrapper .element-5 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 142px;
  width: 21px;
}
.overlap-wrapper .text-wrapper-20 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 100px;
  width: 21px;
}
.overlap-wrapper .group-14 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 936px;
}
.overlap-wrapper .frame-2 {
  align-items: center;
  display: inline-flex;
  gap: 30px;
  left: 588px;
  position: absolute;
  top: 30px;
}
.overlap-wrapper .img {
  height: 4px;
  position: relative;
  width: 61px;
}
.overlap-wrapper .text-wrapper-21 {
  color: #8c8c8c;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.overlap-wrapper .frame-3 {
  align-items: center;
  background-color: var(--greywhite);
  border: 1px solid;
  border-color: var(--separator-light-default);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  overflow: hidden;
  padding: 4px 10px;
  position: relative;
}
.overlap-wrapper .text-wrapper-22 {
  color: var(--light-black);
  font-family: var(--body-input-14px-r-font-family);
  font-size: var(--body-input-14px-r-font-size);
  font-style: var(--body-input-14px-r-font-style);
  font-weight: var(--body-input-14px-r-font-weight);
  letter-spacing: var(--body-input-14px-r-letter-spacing);
  line-height: var(--body-input-14px-r-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.overlap-wrapper .icon-instance-node-3 {
  height: 14px !important;
  position: relative !important;
  width: 14px !important;
}
.overlap-wrapper .feather-icon-more-wrapper {
  align-items: center;
  background-color: var(--greywhite);
  border: 1px solid;
  border-color: var(--separator-light-default);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  overflow: hidden;
  padding: 8px;
  position: relative;
}
.overlap-wrapper .frame-4 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 159px;
}
.overlap-wrapper .text-wrapper-23 {
  color: var(--light-black);
  font-family: "Abel", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}
.overlap-wrapper .feather-icon-alert {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}
.overlap-wrapper .group-15 {
  height: 228px;
  left: 146px;
  position: absolute;
  top: 140px;
  width: 775px;
}
.overlap-wrapper .navbar {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 24px;
  left: 7px;
  position: absolute;
  top: 204px;
  width: 768px;
}
.overlap-wrapper .element-6 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 67px;
}
.overlap-wrapper .element-7 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: 75px;
}
.overlap-wrapper .element-8 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 63px;
}
.overlap-wrapper .element-9 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 76px;
}
.overlap-wrapper .element-10 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 68px;
}
.overlap-wrapper .element-11 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 73px;
}
.overlap-wrapper .element-12 {
  color: #a2a3a5;
  font-family: "Nunito", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 23.5px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: 47.99px;
}
.overlap-wrapper .stats {
  height: 191px;
  left: 0;
  position: absolute;
  top: 0;
  width: 757px;
}