 html, body {
      height: 100%;
      margin: 0;
    }

    .login-prestador-de {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login-prestador-de .overlap-wrapper {
  background-color: #ffffff;
  width: 70%; /* Adjust the width as needed */
  height: 100%;
  margin: auto; /* Center the element horizontally */
}


.login-prestador-de .overlap {
  height: 1173px;
  left: -11px;
  position: relative;
  top: 30px;
  width: 1451px;
}

.login-prestador-de .rectangle {
  background-color: #2e2e2e80;
  height: 880px;
  left: 821px;
  position: absolute;
  top: 121px;
  width: 630px;
}

.login-prestador-de .div {
  background-color: #ffffff;
  border-radius: 3px;
  height: 880px;
  left: 11px;
  position: absolute;
  top: 121px;
  width: 810px;
}

.login-prestador-de .group {
  height: 121px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1451px;
}

.login-prestador-de .img {
  height: 99px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 129px;
}

.login-prestador-de .line {
  height: 1px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 120px;
  width: 1440px;
}

.login-prestador-de .group-2 {
  height: 441px;
  left: 87px;
  position: absolute;
  top: 367px;
  width: 560px;
}

.login-prestador-de .group-wrapper {
  height: 81px;
  left: 4px;
  position: absolute;
  top: 360px;
  width: 556px;
}

.login-prestador-de .overlap-group-wrapper {
  height: 81px;
  width: 558px;
}

.login-prestador-de .overlap-group {
  background-color: #0c0c0c;
  border-radius: 20px;
  height: 81px;
  position: relative;
  width: 556px;
}

.login-prestador-de .payments {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0.25px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 25px;
  white-space: nowrap;
  width: 479px;
}

.login-prestador-de .div-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d1d1d159;
  border-radius: 20px;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 556px;
}

.login-prestador-de .payments-wrapper {
  height: 50px;
  left: 32px;
  position: relative;
  top: 35px;
  width: 439px;
}

.login-prestador-de .text-wrapper {
  color: #818181;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.25px;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 437px;
}

.login-prestador-de .group-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d1d1d159;
  border-radius: 20px;
  height: 96px;
  left: 1px;
  position: absolute;
  top: 145px;
  width: 556px;
}

.login-prestador-de .group-4 {
  height: 50px;
  left: 19px;
  position: relative;
  top: 35px;
  width: 439px;
}

.login-prestador-de .payments-2 {
  color: #808080;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.25px;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 437px;
}

.login-prestador-de .frame-wrapper {
  background-color: #0c0c0c;
  height: 172px;
  left: 11px;
  position: absolute;
  top: 1001px;
  width: 1440px;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-prestador-de .frame {
  align-items: center;
  display: inline-flex;
  gap: 30px;
  left: 485px;
  position: relative;
  top: 49px;
}

.login-prestador-de .group-5 {
  height: 76.23px;
  margin-bottom: -0.62px;
  margin-top: -0.61px;
  position: relative;
  width: 99px;
}

.login-prestador-de .text-wrapper-2 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  position: relative;
  width: 121px;
}

.login-prestador-de .text-wrapper-3 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-prestador-de .group-6 {
  height: 26px;
  left: 503px;
  position: absolute;
  top: 31px;
  width: 435px;
}

.login-prestador-de .overlap-2 {
  height: 26px;
  position: relative;
}

.login-prestador-de .frame-2 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 435px;
}

.login-prestador-de .text-wrapper-4 {
  color: #0c0c0c;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.login-prestador-de .text-wrapper-5 {
  color: #0c0c0c;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 292px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.login-prestador-de .group-7 {
  height: 26px;
  left: 45px;
  position: absolute;
  top: 0;
  width: 58px;
}

.login-prestador-de .text-wrapper-6 {
  color: #0c0c0c;
  font-family: "IBM Plex Serif", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.login-prestador-de .p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #333333;
  display: -webkit-box;
  font-family: "Roboto", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 67px;
  left: 207px;
  letter-spacing: 0;
  line-height: 19px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 646px;
  width: 316px;
}

.login-prestador-de .line-2 {
  height: 1px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 691px;
  width: 73px;
}

.login-prestador-de .frame-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 63px;
  justify-content: center;
  left: 47px;
  position: absolute;
  top: 255px;
  width: 639px;
}



.login-prestador-de .text-wrapper-7 {
  color: #0c0c0c;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 348px;
}

.login-prestador-de .tiro-isolado-de {
  height: 883px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 119px;
  width: 691px;
}